{% extends "base.html" %}
{% block stylesheet %}
    <link href="/media/bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
	{% include "navigation.html" %}
{% endblock %}
{% block content %}

<div class="container">
  	<div class="page-header">
    	</br><h3>Manage Stock</br><small>create, read, update, or delete stock items</small> </h3></br> 
    </div>
  </div>
<div class="container">
{% include "message_board.html" %}
      <div class="panel panel-default">
			        <div class="panel-body">
			        <a href="/stock/add/" class="nounderline">
			          <div >
			            <h4>
			            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;New Stock Item
			            </h4>
			          </div>
			        </a>          
                <td class="text-center">
			        <a href="/stock/index/" class="nounderline">			        
			          <div>
			            <h4>
			              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;&nbsp;Manage Existing Stock Items
			            </h4>
			          </div>
			          </a>
			        </div>
    </div>
</div>
{% endblock %}
